body {
  margin: 0;
  font-family: 'Mulish';
  height: inherit;
  background-color: #181616;
}

.main-container{
  display: flex;
  flex: 1;
  height: 100%;
}

.logo_pic{
    width: 50px;
    height: 50px;
}

nav {
  background-color: #E6EDF0;
}
h1, h2{
    color: white;
}
p{
    color: white;
}
.link-button{
    width: 120px;
    height: 40px;
    background-color: #FFEBEB;
    color: green;
    border: none;
    border-radius: 8px;
    
}
/*about us page*/
.aboutUs-image{
    width: 500px;
}
/* home page */
.graph-image{
    width: 400px;
}
.intro{
    font-size: 32px;
}
.calendar-image{
    width: 400px;
}
.last-message{
    text-align: center;
    font-size: 24px;
}
/* resources page */
.sleep-image{
    width: 400px;
    border-radius: 8px;
}

/* individual resources page */
.back_arrow {
    width: 56px;
    height: 56px;
    margin-bottom: 2rem;
}