body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish';
  height: inherit;
  background-color: #181616;
}
.main-container{
  display: flex;
  flex: 1;
  height: 100%;
}

.login-page {
    height: 100%;
}

.logo_pic{
    width: 50px;
    height: 50px;
}
/* nav {
  background-color: #E6EDF0;
} */
.nav{
    position:fixed;
    z-index: 2;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: #000
}
.logo{
    text-decoration: none;
    color: #fff;
    width: 50px;
    height: 50px;
    
}
.menu-toggle{
    cursor: pointer;
}
.nav-overlay{
    position: fixed;
    background: #18181c;
    z-index: -2;
    top:-100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 4em;
    transition:  all 2s cubic-bezier(0.16, 1, 0.3, 1);
}
.hamBox{
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 2.4em;
}
.hamBox:hover{
    background: #2a2a2f;
}
.hamBoxOpen{
    background: #2a2a2f;
}
.lineTop, .lineBottom{
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s
}
.lineTop {
    top: 2.2em;
}
.lineBottom{
    bottom: 2.2em;
}
.lineTop.spin{
    top: 2.35em;
    transform: rotate(135deg);
    background: #fff;
}
.lineBottom.spin{
    bottom: 2.35em;
    transform: rotate(225deg);
    background: #fff;
}
ul.nav-links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul.nav-links li{
    list-style: none;
    position: relative;
}
ul.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 3em;
    position: relative;
    top: 0;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}
.nav-item-wrapper::after{
    content: "";
    position: absolute;
    top: 120px;
    left: -10%;
    width: 120%;
    height: 100%;
    background: #18181c;
    margin: 0 auto;
}
@media(max-width: 900px){
    ul.nav-lins li a{
        font-size: 5em;
    }
}
.header-content{
    padding-top: 140px;
}
.header-calendar{
    padding-top: 200px;
}
h1, h2{
    color: white;
}
p{
    color: white;
}
.link-button{
    width: 120px;
    height: 40px;
    background-color: #FFEBEB;
    color: green;
    border: none;
    border-radius: 8px;
    
}
/*about us page*/
.aboutUs-image{
    width: 70%;
}
/* home page */
.graph-image{
    width: 70%;
}
.intro{
    font-size: 32px;
}
.calendar-image{
    width: 50%;
}
.last-message{
    text-align: center;
    font-size: 24px;
}
/* resources page */
.sleep-image{
    width: 70%;
    border-radius: 8px;
}

/* individual resources page */
.back_arrow {
    width: 56px;
    height: 56px;
    margin-bottom: 2rem;
}
.content-footer{
    margin-top: 40px;
    padding-bottom: 40px;
}
.page-container{
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./img/bg-xs.png");
  }
/* next size - tablet */
@media (min-width: 768px) {
    .page-container {
      background-image: url("./img/bg-xs.png");
    }
  }
  
  /* next size - tablet landscape and it covers desktop */
  @media (min-width: 1024px) {
    .miracle {
      background-image: url("./img/bg-md.png");
    }
  }
  
  /* next size - larger desktops */
  @media (min-width: 1280px) {
    .page-container {
      background-image: url("./img/bg-lg.png");
    }
  }
  .login-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .login-image-sec{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-image{
    height: 500px;
    width: 500px;
  }
  .calendar-header{
    color: #000;
    margin-bottom: 3rem;
  }
  .calendar-month{
    font-size: 1.5rem;
  }
  .calendar-days{
    margin-top: 2rem;
  }
  .summary-header{
    color: #000;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .average-num-sleep{
    font-size: 1.2rem;
  }
 .week-message{
    color: #000;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
 }
 .rocket-image{
    width: 160px;
    height: 100px;
 }

 #about-card {
  max-width: 400px;
  max-height: 800px;
  background-color: #9E91BF;
 }