body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: inherit;
  background-color: #181616;
}

.main-container{
  display: flex;
  flex: 1;
  height: 100%;
}

.nav-title {
  color: purple;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 100px;
}
.logo_pic{
    width: 50px;
    height: 50px;
}

nav {
  background-color: #E6EDF0;
}
h1, h2{
    color: white;
}
p{
    color: white;
}
.link-button{
    width: 120px;
    height: 40px;
    background-color: #FFEBEB;
    color: green;
    border: none;
    border-radius: 8px;
    
}
/*about us page*/
.aboutUs-image{
    width: 500px;
}
/* home page */
.graph-image{
    width: 400px;
}
.intro{
    font-size: 32px;
}
.calendar-image{
    width: 400px;
}
.last-message{
    text-align: center;
    font-size: 24px;
}
/* resources page */
.sleep-image{
    width: 400px;
    border-radius: 8px;
}